$color-primary: #5cb860;
$color-primary-hover: #eef7ee;
$color-primary-disabled: #a9d0ab;

$color-secondary: #e2e2e2;
$color-secondary-hover: #f0f0f0;
$color-secondary-disabled: #c9cac9;

$color-border: #414143;
$color-border-hover: #2b2b2b;

$color-error: #ff4500;
$color-liked: #ef4c4c;

$color-text-primary: #1a1a1c;
$color-text-primary-disabled: #7a7a7a;
$color-text-secondary: #515151;
$color-text-dimmed: #626264;
$color-text-placeholder: #757578;
$color-text-white: #ffffff;

$color-container-primary: #dcefdd;
$color-container-secondary: #f1f1f4;

$color-background: #ffffff;
$color-background-dim: #2b2b2baa;
