@layer primevue;
@import 'tailwindcss';
@import 'tailwindcss-primeui';

:root {
  --color-primary: var(--p-primary-500);
  --color-primary-hover: var(--p-primary-50);
  --color-primary-container: var(--p-primary-100);

  --color-secondary: #d8d8db;
  --color-secondary-container: #f1f1f4;

  --color-border: #414143;

  --color-success: #259d63;
  --color-warning: #c16800;
  --color-error: #da373c;
  --color-liked: #f95151;

  --color-text: #1a1a1c;
  --color-text-dimmed: #626264;
  --color-text-disabled: #949497;
  --color-text-placeholder: #757578;

  --color-background: #ffffff;
  --color-background-dim: #2b2b2baa;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
}

#app {
  font-family: 'M PLUS 1p', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--color-text);
  height: 100%;
  width: 100%;
}
